.header {
    background-color: #1F2937;
}
.logo {
    margin-left: 65px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    font-family: Monaco;
}
.link-three {
    margin-right: 65px;
}
.link-one {
    margin-left: auto;
}
a {
    text-decoration: none;
    margin-right: 25px;
    padding: 20px 0;
}
.first-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.ext {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}
.another-part {
    display:flex;
    flex-wrap: wrap;
    width: 300px;
}
.tree-holder {
    display: flex;
}
.tree {
    width: 300px;
    height: auto;
}
h1 {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
    margin-bottom: -17px;
}

.secondary {
    color: #E5E7EB;
    font-size: 18px;
}

button{
    background-color: #2882F6;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
    margin-bottom: 5px;
}

.elephants {
    width: 200px;
    height: auto;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
.image-and-subtext {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.image {
    display: flex;
    width: 200px;
    flex-direction: column;
    
}