.header {
    background-color: #1F2937;
}
.logo {
    margin-left: 65px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    font-family: Monaco;
}
.link-three {
    margin-right: 65px;
}
.link-one {
    margin-left: auto;
}
a {
    text-decoration: none;
    margin-right: 25px;
    padding: 20px 0;
}
.first-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.ext {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding-bottom: 100px;
}
.another-part {
    display:flex;
    flex-wrap: wrap;
    width: 300px;
}
.tree-holder {
    display: flex;
}
.tree {
    width: 300px;
    height: auto;
    align-self: center;
}
.awesome {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
    margin-bottom: -17px;
}

.secondary {
    color: #E5E7EB;
    font-size: 18px;
}

button{
    background-color: #2882F6;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
    margin-bottom: 5px;
}

.elephants {
    width: 200px;
    height: auto;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
.image-and-subtext {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.image {
    display: flex;
    width: 200px;
    flex-direction: column;
    
}
.random-info {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.sub {
    color: #161616;
    font-family:'Times New Roman', Times, serif;
}
.quote-section{
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-and-attribution {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 50px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.attribution {
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    align-self: flex-end;
    margin-top:-20px;
}

.full-call {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.call-to-action {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    width: 800px;
    flex-direction:column;  
    justify-content: space-around;  
    padding: 25px;
}
.other-holder {
    display: flex; 
    align-items: center;
    gap: 50px;
    margin-left: 50px;
}
.call-info {
    margin-left: 50px;
    margin-bottom: -30px;
}
.sign-up-button {
    outline: 1px solid white;
}
h3 {
    color: white;
    font-size: 20px;
}
.sign-up {
    color: #E5E7EB;
    font-size: 14px;
}